@font-face {
  font-family: 'Gotham Pro';
  src: url(./fonts/gothampro_medium.ttf);
}

* {
  font-family: 'Gotham Pro' !important;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  background-color: #F28B51;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.content {
  min-height: 1080px;
  height: 90vh;
  margin: 30px;
  padding: 15px 30px;
  border-radius: 73px;
  border: 10px solid #FDF9E2;
  overflow: hidden;
  background-color: #EED0B6;
  display: flex;
  justify-content: space-between;
}

.content__left {
  width: 40%;
  position: relative;
  z-index: 10;
}

.content__left_image {
  width: 100%;
  object-fit: contain;
}

.content__left_text {
  color: #343434;
  font-size: 47.961px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
}

.buy-btn {
  display: block;
  margin-top: 30px;
}

.content__right {
  width: 40%;
  padding-top: 80px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__right_text {
  color: #343434;
  font-size: 46.364px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 69px;
}

.content__number {
  color: #343434;
  font-size: 25.918px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 30px 28px;
  border-radius: 28px;
  background: #F28B51;
  width: max-content;
}

.madik__image {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.content__mob-text {
  color: #343434;
  text-align: center;
  font-size: 19.682px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.madik_images {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  object-fit: contain;
  bottom: 0;
}

@media (max-width: 1800px) {
  .content__right_text {
    font-size: 30px;
  }

  .content__number {
    font-size: 20px;
    padding: 20px 18px;
  }

  .buy-btn {
    max-width: 300px;
  }

  .buy-btn img {
    width: 100%;
    object-fit: contain;
  }

  .content__left_text {
    font-size: 30px;
  }

  .content__left_image {
    max-width: 500px;
  }
}

.show-1240 {
  display: none !important;
}

@media (max-width: 1240px) {
  .show-1240 {
    display: flex !important;
  }

  .hide-1240 {
    display: none !important;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .content__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .content__right {
    width: 100%;
    padding-top: 25px;
  }

  .buy-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  .buy-btn:hover {
    transform: translateX(-50%) scale(1.1);
  }

  .madik__image {
    width: 600px;
  }
}

@media (max-width: 680px) {
  .content {
    min-height: 880px;
  }

  .content__left_text {
    font-size: 12.703px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.114px;
  }

  .content__number {
    font-size: 10.85px;
    padding: 13px 11px;
    border-radius: 11.721px;
  }

  .networks img {
    width: 42px;
    object-fit: contain;
  }
}



@media (max-width: 450px) {
  .madik__image {
    width: 400px;
  }

  .content {
    min-height: 580px;
    border-radius: 24px;
  }

  .content__left_text {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 10px 20px;
  }

  .content__number {
    font-size: 8px;
  }

  .networks a:not(:last-child) {
    margin-right: 11px;
  }

  .content__mob-text {
    font-size: 15px;
  }
}

.madik_images,
.madik__image {
  transition: all 0.4s ease 0s;
}

.madik_images {
  opacity: 0;
  bottom: -200%;
}

.madik__image._animate {
  bottom: -200%;
  opacity: 0;
}

.madik_images._animate {
  opacity: 1;
  bottom: 0%;
}







@media (max-width: 500px) {
  .madik_images._animate {
    bottom: 8%;
  }

  .content {
    margin: 20px;
  }
}
















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

.madik__image {
  animation: madik__image 3s ease-in-out infinite;
}

@keyframes madik__image {

  0%,
  100% {
    transform: translate(-50%, 5%);
  }

  50% {
    transform: translate(-50%, 0%);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}