* {
  font-family: "Jost", sans-serif !important;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 139px;
  background: #FFCEAF;
  padding: 24px 30px;
  margin: 18px auto 37px;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 38px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.first {
  margin-top: 58px;
  padding: 95px 100px 62px;
}

.first .bg {
  border-radius: 139px;
}

.first__logo {
  width: 104px;
  height: 103px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first__title {
  color: #000;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 63px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 47px;
}

.first__text {
  color: #000;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 41.6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 680px;
}

.first__images {
  position: relative;
  z-index: -1;
  display: flex;
  margin-top: -100px;
}

.first__images_left {
  margin-top: -20px;
  width: 55%;
  object-fit: contain;
}

.first__images_right {
  width: 45%;
  object-fit: contain;
}

.first__logo_bottom {
  width: 104px;
  height: 103px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.second__title {
  color: #000;
  text-align: center;
  font-size: 63px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 70px 0 14px;
}

.video {
  max-width: 1160px;
  width: 100%;
  height: 652px;
  border-radius: 43px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.btn-buy {
  margin: -30px auto 0;
  position: relative;
  z-index: 10;
  display: block;
  width: max-content;
}

.second__number {
  color: #000;
  text-align: center;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 87px;
}

.show-1000 {
  display: none !important;
}

@media (max-width: 1000px) {
  .hide-1000 {
    display: none !important;
  }

  .show-1000 {
    display: flex !important;
  }

  .first__logo {
    transform: translate(-50%, 0);
    margin-top: 30px;
  }

  .first {
    padding: 110px 20px 12px;
  }

  .first__title {
    font-size: 34px;
  }

  .first__text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 23px;
  }

  .first__logo {
    width: 68px;
    height: 68px;
    object-fit: contain;
  }

  .first__logo_bottom {
    position: relative;
    width: 68px;
    height: 68px;
    object-fit: contain;
    top: 0;
    transform: translate(-50%, 0);
    margin-top: 57px;
  }

  .second__title {
    padding: 15px 0;
  }

  .video {
    height: 500px;
  }

  .btn-buy {
    margin: 30px auto 0;
  }

  .second__number {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }

  .networks {
    padding: 16px 20px;
    margin: 15px auto 22px;
  }

  .second__number {
    font-size: 20px;
  }

  .networks a:not(:last-child) {
    margin-right: 28px;
  }

  .networks img {
    width: 40px;
    object-fit: contain;
  }

  .first .bg {
    border-radius: 38px;
  }

  .video {
    border-radius: 43px;
  }

  .second__title {
    font-size: 34px;
  }
}

@media (max-width: 550px) {
  .first__images {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .first__images_right {
    align-self: flex-end;
    width: 60%;
  }

  .first__images_left {
    margin-top: -30%;
    width: 70%;
  }

  .video {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .video {
    height: 270px;
  }
}





















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}