@font-face {
  font-family: 'Cyborg Rooster';
  src: url(./fonts/cyborgrooster.ttf);
}

* {
  font-family: 'Cyborg Rooster' !important;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.zippers {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.first__title {
  margin: 40px auto 0;
  display: block;
}

.networks {
  justify-content: center;
}

.first__number {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 28px 0 18px;
}

.first__text {
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 341px;
  margin: 0 auto;
}

.second__shadow {
  width: 100%;
  object-fit: contain;
  display: block;
  margin-top: -20vw;
  margin-bottom: -20vw;
}

.first {
  z-index: 10;
}

.second {
  position: relative;
}

.second__left {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.second__right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.second__tv {
  position: relative;
  width: 1243px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(5%);
}

.second__tv iframe {
  position: absolute;
  top: 300px;
  left: 50px;
  z-index: 1000000;
  width: 930px;
  height: 550px;
  border-radius: 50px;
}

@media (max-width: 1600px) {
  .second__left {
    width: 400px;
  }

  .second__right {
    width: 300px;
  }

  .second__tv_image,
  .second__tv {
    width: 700px;
    /* transform: scale(0.7); */
  }

  .second__tv iframe {
    position: absolute;
    top: 168px;
    left: 30px;
    width: 530px;
    height: 300px;
    border-radius: 35px;
  }
}

.show-1100 {
  display: none !important;
}

@media (max-width: 1100px) {
  .hide-1100 {
    display: none !important;
  }

  .show-1100 {
    display: flex !important;
  }

  .second__bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  .second__right,
  .second__left {
    position: relative;
    object-fit: contain;
  }

  .second__tv {
    transform: translateX(0%);
  }
}

@media (max-width: 850px) {
  .first__title {
    width: 100%;
  }
}


@media (max-width: 700px) {
  .first__number {
    font-size: 17px;
    margin: 41px 0 17px;
  }

  .first__text {
    font-size: 26px;
  }

  .second__tv {
    transform: scale(0.7);
  }

  .second__left {
    width: 300px;
  }

  .second__right {
    width: 250px;
  }

  .second__bottom {
    margin-top: -100px;
  }
}

@media (max-width: 650px) {
  .second__tv {
    transform: translateX(-10vw) scale(0.7);
  }
}

@media (max-width: 550px) {
  .second__tv {
    transform: translateX(-16vw) scale(0.7);
  }
}

@media (max-width: 520px) {
  .second__tv {
    transform: translate(-16vw, -10vw) scale(0.5);
  }

  .second__bottom {
    margin-top: -38vw;
  }
}

@media (max-width: 470px) {
  .second__tv {
    transform: translate(-23vw, -20vw) scale(0.4);
  }

  .second__left {
    width: 250px;
  }

  .second__right {
    width: 200px;
  }
}

.show-450 {
  display: none !important;
}

@media (max-width: 450px) {
  .hide-450 {
    display: none !important;
  }

  .show-450 {
    display: flex !important;
  }

  .second__shadow {
    display: none;
  }
}

@media (max-width: 430px) {
  .second__tv {
    transform: translate(-39vw, -0vw) scale(0.4);
    margin-bottom: -30vw;
  }

  .second__left {
    width: 200px;
  }

  .second__right {
    width: 150px;
  }
}

@media (max-width: 380px) {
  .second__tv {
    transform: translate(-44vw, -0vw) scale(0.4);
  }
}

@media (max-width: 350px) {
  .second__tv {
    transform: translate(-54vw, -0vw) scale(0.4);
  }

  .first__text {
    font-size: 20px;
  }

  .second__left {
    width: 150px;
  }

  .second__right {
    width: 100px;
  }
}

@media (max-width: 330px) {
  .second__tv {
    transform: translate(-54vw, -0vw) scale(0.4);
  }
}




















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

.zippers {
  animation: zippers 3s ease-in-out infinite;
}

@keyframes zippers {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}