@font-face {
  font-family: 'Telka TRIAL';
  src: url(./fonts/TelkaTRIAL-Medium.otf);
}

@font-face {
  font-family: 'Telka Extended TRIAL';
  src: url(./fonts/TelkaTRIAL-Extended-Black.otf);
}

* {
  font-family: 'Telka TRIAL' !important;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.header {
  width: 100%;
  padding: 27px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first {
  border-top: 1px solid #FDF7EF;
  height: calc(100vh - 92px);
  min-height: 1000px;
}

.first ._container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first__title {
  color: #FDF7EF;
  text-align: center;
  font-family: "Telka Extended TRIAL" !important;
  font-size: 119px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 34px;
}

.first__text {
  margin-bottom: 20px;
  color: #FDF7EF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-buy {
  padding: 27px 37px;
  border-radius: 19px;
  background: #FFD086;
  color: #000;
  font-size: 36.61px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

@media (max-width: 1500px) {
  .first__title {
    font-size: 80px;
  }

  .first__text {
    font-size: 30px;
  }
}

.show-767 {
  display: none !important;
}

@media (max-width: 767px) {
  .hide-767 {
    display: none !important;
  }

  .show-767 {
    display: flex !important;
  }

  .first {
    border-top: 1px solid #FDF7EF;
    height: calc(100vh - 92px);
    min-height: 800px;
  }

  .first__title {
    font-size: 50px;
  }

  .first__text {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .first {
    min-height: 600px;
    height: calc(100vh - 141px);
  }

  .first__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .first__text {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .btn-buy {
    padding: 17px 27px;
    font-size: 20px;
  }

  ._container {
    padding: 0 10px;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }

  .networks {
    align-self: flex-end;
    margin-top: 10px;
  }
}















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}