@font-face {
   font-family: 'Aterom';
   src: url('ATEROM-Regular Outline.otf') format('opentype');
}

@font-face {
   font-family: 'Benzin';
   src: url('./fonts/Benzin-Bold.eot');
   src: url('./fonts/Benzin-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Benzin-Bold.woff2') format('woff2'),
       url('./fonts/Benzin-Bold.woff') format('woff'),
       url('./fonts/Benzin-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

* {
   font-family: 'Benzin' !important;
   color: #FFF;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
  border-radius: 66px;
border: 1.333px solid #FFF;
background: rgba(250, 250, 250, 0.05);
padding: 20px 70px;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 60px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 2183px;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  color: #000;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.gradient {
   transform: translateY(308px);
   bottom: 0px;
   z-index: 5;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.content {
   padding-top: 48px;
   padding-bottom: 70px;
}

.title-wrap {
   position: relative;
   padding-top: 20px;
}

.title {
   object-fit: cover;
   max-width: 95vw;
}

.star {
   position: absolute;
}

.star-1 {
   left: 10.5%;
   top: 50%;
}

.star-2 {
   left: 76%;
   top: -12%;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.head {
   max-width: 850px;
   margin-top: -50px;
   position: absolute;
   top:  180px;
   left: 18%;
}
.text {
   color: #FAFAFA;
   font-family: "Inter", serif !important;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 133%; /* 26.6px */
text-transform: capitalize;
max-width: 366px;
margin-right: auto;
position: relative;
z-index: 100;
}

.buy-wrap {
   display: inline-block;
   position: relative;
   z-index: 10;
   padding-top: 220px;
} 

.login-wrap {
   position: relative;
   z-index: 10;
   margin-left: auto;
   padding-top: 60px;
}

.text-line {
   position: relative;
   z-index: 10;
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding-top: 30px;
}

.text-line p {
   color: rgba(250, 250, 250, 0.90);
   font-family: "Inter", serif !important;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 131px; /* 727.778% */
text-transform: uppercase;
}

.ca {
   letter-spacing: 16.2px;
}

.text-line-2 {
   position: relative;
   z-index: 10;
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding-top: 30px;
}

.text-line-2 p {
   color: rgba(250, 250, 250, 0.90);
   font-family: "Inter", serif !important;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 131px; /* 727.778% */
text-transform: uppercase;
}

.footer {
   position: relative;
   z-index: 10;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer__title {
   color: #FAFAFA;
text-align: center;
font-family: 'Benzin' !important;
font-size: 70.502px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-bottom: 10px;
max-width: 590px;
}

.book-wrap {
   position: relative;
   z-index: 15;
}

.footer__title span {
   background: linear-gradient(90deg, #D06DFF -22.53%, #71139D 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Benzin-Bold;
font-size: 70.502px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.footer__text {
   color: #FAFAFA;
text-align: center;
font-family: "Inter", serif !important;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 133%; /* 42.56px */
text-transform: capitalize;
margin-bottom: 50px;
}

.line {
   margin-top: 78px;
}

.footer .ca {
   color: rgba(250, 250, 250, 0.90);
text-align: center;
font-family: "Inter", serif !important;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 16.2px;
text-transform: uppercase;
padding-top: 66px;
}
.footer__image {
   max-width: 95vw;
}

.hub-wrap, .text {
   position: relative;
   z-index: 20;
}

@media (max-width:1220px) {
   .head {
      max-width: 600px;
      left: 25%;
      top: 240px;
   }
}

.show-1120 {
   display: none;
}

@media (max-width:1120px) {
   .hide-1120 {
      display: none;
   }
   .show-1120 {
      display: flex;
   }
   .header {
      padding-top: 15px;
      justify-content: center;
   }
   .hub-wrap {
      margin-left: 10px;
   }
}

.show-768 {
   display: none;
}

@media (max-width:768px) {
   .hide-768 {
      display: none;
   }
   .show-768 {
      display: flex;
      position: relative;
      z-index: 10;
   }
   .login-wrap {
      margin-left: 0;
      padding-top:340px;
   }
   .head {
      left: 0%;
      top: 150px;
   }
   .ca.show-768 {
      display: inline-block;
      color: rgba(250, 250, 250, 0.90);
text-align: center;
font-family: "Inter", serif !important;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 11.045px;
text-transform: uppercase;
padding-top: 70px;
padding-bottom: 70px;
   }
   .gradient.show-768 {
      transform: translateY(508px);
      bottom: 0px;
      z-index: 5;
      position: absolute;
   }
   .text {
      color: #0A0A0A;
      text-align: center;
      margin-right: 0;
      padding-top: 15px;
   }
   .footer {
      padding-top: 60px;
   }
   .footer__title {
      max-width: 400px;
      font-size: 36px;
   }
   .footer__title span {
      font-size: 36px;
   }
   .footer__text {
      font-size: 18px;
   }
   .head {
      max-width: 95vw;
   }
}

@media (max-width:500px) {
   .header {
      max-width: 95vw;
   }
   .networks {
      padding: 15px 42px;
   }
   .networks img {
      width: 30px;
   }
   .networks a:not(:last-child) {
      margin-right: 30px;
    }    
    .hub {
      max-width: 152px;
    }
    .book {
      max-width: 152px;
    }
    .gradient.show-768 {
      transform: translateY(208px);
    }
    .head {
      top: 127px;
      left: -10%;
    }
    .login-wrap {
      padding-top: 210px;
    }
    .login {
      width: 115px;
    }
    .ca.show-768 {
      letter-spacing: 0;
    }
    .buy-wrap {
      padding-top: 0;
      margin-top: -15px;

    }
    .buy {
      width: 180px;
    }
    .wrapper {
      min-height: 1600px;
    }
    .footer .ca {
      letter-spacing: 0 !important;
    }
}

.left {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 6;
}

.right {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 6;
}

.left2 {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 6;
}

.right2 {
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 6;
}

.paralax {
   transition: transform 0.3s ease;
   animation: move 5s infinite alternate;
}

/*.paralax:hover {
   animation: move 5s infinite alternate;
}*/

/* Определение анимации */
@keyframes move {
   0% {
      transform: translateY(0); /* Исходное положение */
   }
   100% {
      transform: translateY(-40px); /* Движение вверх на 5px */
   }
}



























[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
}

._scale_anim._animate {
  transform: scale(1);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.anim2 {
   animation: anim2 3s ease-in-out infinite;
 }

@keyframes anim2 {

   0%,
   100% {
     transform: scale(1);
   }
 
   50% {
     transform: scale(1.05);
   }
 }

 .opacity {
   animation: brightness 5s ease-in-out infinite; /* Изменено имя анимации */
}

@keyframes brightness { /* Изменено имя ключевых кадров */
   0%,
   100% {
     filter: brightness(0.9); /* Исходная яркость */
   }
 
   50% {
     filter: brightness(1.3); /* Увеличенная яркость */
   }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}
