@font-face {
  font-family: 'Compacta_ICG_Black';
  src: url(./fonts/Compacta_ICG_Black.ttf);
}

* {
  font-family: 'Compacta_ICG_Black' !important;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.first {
  display: flex;
  border-bottom: 1px solid #fff;
}

.first__left {
  width: 60%;
  padding: 54px 100px 61px 66px;
  border-right: 1px solid #fff;
}

.first__right {
  width: 40%;
  height: auto;
  object-fit: contain;
  margin-left: -59px;
  transform: scale(1.1);
}

.first__text {
  position: relative;
}

.first__text-text {
  position: absolute;
  top: 68px;
  padding: 68px 52px 54px 18px;
  width: calc(100% - 40px);
  color: #000;
  text-align: center;
  font-size: 27.116px;
  font-style: italic;
  font-weight: 400;
  line-height: 110.995%;
  z-index: 10;
}

.first__text_bg {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
}

.btn-buy {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-buy:hover {
  transform: translateX(-50%) scale(1.1);
}

.first__left {
  position: relative;
}

.star-image {
  position: absolute;
  z-index: 0;
}

.first__star {
  top: 10px;
  right: 30px;
}


.first_left_image {
  position: absolute;
  bottom: 0px;
  right: -20px;
}

.first .networks {
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

.first__number {
  text-align: center;
  font-feature-settings: 'cpsp' on;
  /* text-shadow: 0px 0.689px 6.2px rgba(0, 0, 0, 0.50), 0px 0.521px 0.842px #000; */
  -webkit-text-stroke-width: 0.20039455592632294;
  -webkit-text-stroke-color: #000;
  font-family: "Compacta ICG Black";
  font-size: 41.281px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  /* 41.281px */
  text-transform: uppercase;
  background: linear-gradient(180deg, #ECECEC 0%, #BBB 48.44%, #3E3E3E 48.45%, #969696 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (max-width: 1890px) {
  .btn-buy {
    bottom: 50px;
  }

  .first__text-text {
    padding: 8px 52px 54px 18px;
  }
}

@media (max-width: 1750px) {
  .first_left_image {
    width: 150px;
    object-fit: contain;
  }

  .first__number {
    font-size: 30px;
  }

  .networks img {
    width: 50px;
  }
}

@media (max-width: 1600px) {
  .first__text-text {
    font-size: 20px;
    padding: 8px 15px 22px 18px;
  }
}

@media (max-width: 1400px) {
  .first__star {
    width: 300px;
    object-fit: contain;
  }

  .first__right {
    margin-left: -30px;
  }

  .first__text-text {
    top: 40px;
    font-size: 18px;
  }

  .first_left_image {
    right: -40px;
    bottom: -20px;
  }

  .first .networks {
    margin-top: 40px;
  }
}

@media (max-width: 1250px) {
  .first .networks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .first__text-text {
    font-size: 16px;
  }

  .first__number {
    width: 100%;
    margin-top: 30px;
    margin-left: -34px;
  }

  .btn-buy img {
    width: 250px;
  }
}


.show-1100 {
  display: none !important;
}

@media(max-width: 1100px) {
  .hide-1100 {
    display: none !important;
  }

  .show-1100 {
    display: flex !important;
  }

  .first {
    flex-direction: column-reverse;
  }

  .first__left {
    width: 100%;
    border: 0;
    flex-direction: column;
  }

  .first__text-text {
    position: relative;
    padding-top: 0px;
    font-size: 10px;
    top: 25px;
    width: calc(100% - 14px);
  }

  .first__text {
    max-width: 300px;
    margin: 30px auto;
  }

  .first__number {
    font-size: 24px;
    margin-top: 0;
  }

  .btn-buy {
    position: relative;
    bottom: 0;
    margin-top: 10px;
  }

  .btn-buy img {
    width: 140px;
    object-fit: contain;
  }

  .first_left_image {
    position: relative;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    margin-bottom: 40px;
    margin-top: 22px;
    width: 160px;
  }

  .first__star {
    top: -40px;
  }

  .first__number {
    margin-left: 0;
  }

  .first__text_bg {
    position: absolute;
    width: 100%;
    object-fit: contain;
  }

  .first__right {
    margin-top: 20px;
    width: 100%;
    transform: scale(1);
    margin-left: 0;
    border-bottom: 1px solid #fff;
  }

  .str__item {
    font-size: 30px !important;
    margin: 24px 10px 24px !important;
  }

  .first__left {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .first__star {
    right: -100px;
  }


}
























[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

.star-image {
  animation: star-image 3s ease-in-out infinite;
}

@keyframes star-image {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.first__right {
  animation: first__right 1s ease-in-out infinite;
}

@keyframes first__right {

  0% {
    transform: translateX(-10%) scale(1.1);
  }

  50% {
    transform: translateX(0%) scale(1.1);
  }

  100% {
    transform: translateX(-10%) scale(1.1);
  }
}

@media (max-width: 1100px) {
  @keyframes first__right {

    0% {
      transform: translateX(-5%) scale(1);
    }

    50% {
      transform: translateX(0%) scale(1);
    }

    100% {
      transform: translateX(-5%) scale(1);
    }
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}



/* Loop string */
.str {
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 100vw;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

.str__row-marque {
  display: flex;
  animation: row 180s linear infinite;
  will-change: transform;
  gap: 10px;
}

.image__str .str__row-marque {
  animation: row 30s linear infinite;
  align-items: center;
}


.str__item {
  overflow: hidden;
  margin: 24px 10px 29px;
  text-align: center;
  white-space: nowrap;
  font-feature-settings: 'cpsp' on;
  /* text-shadow: 0px 0.983px 8.85px rgba(0, 0, 0, 0.50), 0px 0.744px 1.201px #000; */
  -webkit-text-stroke-width: 0.28602826595306396;
  -webkit-text-stroke-color: #000;
  font-family: "Compacta ICG Black";
  font-size: 58.922px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ECECEC 0%, #BBB 48.44%, #3E3E3E 48.45%, #969696 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image__str .str__item {
  margin: 34px 5vw !important;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.image__str .str__item:hover {
  transform: scale(1.1);
}


@keyframes row {
  0% {
    transform: translateZ(0px);
  }

  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}

.second__star {
  position: absolute;
  bottom: -15%;
  left: -15%;
}

.third__star {
  position: absolute;
  bottom: -10%;
  right: -10%;
}

@media (max-width: 1100px) {
  .second__star {
    width: 400px;
    bottom: -5%;
    left: -5%;
  }

  .third__star {
    width: 300px;
    bottom: -5%;
    right: -5%;
  }
}

@media (max-width: 767px) {

  .second__star,
  .third__star {
    display: none;
  }
}