._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 37px;
  margin-bottom: 47px;
}

* {
  font-family: "Jersey 10", sans-serif !important;
}

.networks a {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9E9E9;
}

.networks a:not(:last-child) {
  margin-right: 42px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.first__title {
  margin: 0 auto;
  display: block;
  max-width: 737px;
  width: 100%;
  object-fit: contain;
}

.first__stars {
  margin: 42px auto;
  display: block;
}

.first {
  min-height: 1080px;
}

.first__left {
  position: relative;
  z-index: 10;
  max-width: 626px;
  margin-left: 45px;
  padding-bottom: 50px;
}

.first__text {
  color: #E9E9E9;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 45px;
}

.first__number {
  white-space: nowrap;
  padding: 12px 42px;
  background-color: #E9E9E9;
  color: #1C1C1C;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 45px;
  width: max-content;
}

.first__right {
  position: absolute;
  bottom: 0;
  z-index: 0;
  right: 0;
  width: 60%;
  height: auto;
  object-fit: contain;
}

.btn-buy {
  display: block;
}

.btn-buy:hover {
  transform: translate(28px, -10px) scale(1.1);
}


@media (max-width: 1350px) {
  .first__title {
    max-width: 500px;
  }

  .first__stars {
    margin: 20px auto;
    max-width: 150px;
  }

  .first__text {
    font-size: 38px;
  }

  .first__number {
    font-size: 30px;
  }

  .btn-buy img {
    max-width: 200px;
  }

  .btn-buy:hover {
    transform: translate(28px, -3px) scale(1.1);
  }

  .first__left {
    max-width: 450px;
  }

  .first {
    min-height: auto;
  }
}

@media (max-width: 1080px) {
  .first__right {
    width: 80%;
    right: -20%;
  }
}

.show-767 {
  display: none !important;
}

@media (max-width: 767px) {
  .show-767 {
    display: flex !important;
  }

  .hide-767 {
    display: none !important;
  }

  .first__bottom {
    position: relative;
  }

  .first__bottom_image {
    width: 100%;
    object-fit: contain;
  }

  .first__left {
    margin: 0 20px;
    width: calc(100% - 40px);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .btn-buy {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn-buy:hover {
    transform: translateX(-50%) scale(1.1);
  }

  .first__bottom {
    margin-top: -20%;
  }
}

@media (max-width: 540px) {
  .first__title {
    margin: 0 20px;
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 460px) {
  .btn-buy img {
    max-width: 150px;
  }

  .btn-buy {
    bottom: 20px;
  }

  .first__text {
    font-size: 21px;
  }

  .first__number {
    font-size: 20px;
  }

  .networks a {
    width: 43px;
    height: 43px;
  }

  .networks a:not(:last-child) {
    margin-right: 26px;
  }

  .networks a img {
    width: 80%;
  }
}

@media (max-width: 360px) {
  .btn-buy img {
    max-width: 100px;
  }
}





















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}