* {
   font-family: "Space Mono", monospace !important;
   color: #FFF;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1850px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  color: #000;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}


.text {
   color: #FFF;
text-align: center;
font-family: "Space Mono";
font-size: 25.763px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 17px;
}

.content {
   padding-top: 50px;
   padding-bottom: 250px;
}

.header {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 100px;
}

.buy {
   display: inline-block;
   margin-bottom: 18px;
}

.title {
   padding-bottom: 520px;
}

.ca {
   color: #FFF;
   font-family: "Space Mono";
   font-size: 19px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
border-radius: 39.288px;
border: 2px solid #0F0;
background: rgba(0, 0, 0, 0.10);
backdrop-filter: blur(12.350000381469727px);
padding: 12.5px 47.5px;
}

.ca:after {
   content: '';
   background-image: ('./image/ca.svg');
}

.second__title {
   color: #FFF;
text-align: center;
font-family: "Space Grotesk";
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
max-width: 1200px;
line-height: 1;
}

.second__title span {
   background: linear-gradient(90deg, #FEFF00 32.88%, #0F0 99.82%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Space Grotesk";
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
line-height: 1;
}

.second__image {
   object-fit: cover;
   max-width: 100%;
}

.networks img {
   width: 125px;;
}

.second {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 368px;
   position: relative;
}

.open {
   position: absolute;
   right: 22%;
   top: 28%;
   display: inline-block;
}

.footer__title {
   color: #FFF;
font-family: "Space Grotesk";
font-size: 150.219px;
font-style: normal;
font-weight: 700;;
margin-bottom: 35px;
}

.footer__wraper {
   display: flex;
   gap: 66px;
}

.left {
   display: flex;
   flex-direction: column;
}

.right {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.column_title {
   font-family: "Space Grotesk";
   line-height: 1;
font-size: 48px;
font-style: normal;
margin-bottom: 15px;
font-weight: 500;
background: linear-gradient(267deg, #0F0 4.01%, #FEFF00 114.97%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.column_text {
   color: #FFF;
font-family: "Space Mono";
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 500px;
}

.column {
   border-radius: 21.395px;
border: 2px solid #0F0;
background: rgba(0, 0, 0, 0.10);
backdrop-filter: blur(12.350000381469727px);
padding: 32px;
}

.code {
   max-width: 1050px;
}

.column {
   margin-bottom: 24px;
}

.column-3 {
   margin-bottom: 0;
}

@media (max-width:1600px) {
   .code {
      max-width: 700px;
   }
}

@media (max-width:1250px) {
.footer__wraper {
   flex-direction: column;
}
   .code {
   max-width: none !important;
   width: 100%;
}
.code-1 {
   margin-bottom: 20px;
}
.title {
   padding-bottom: 790px;
}
}

@media (max-width:1215px) {
   .open {
      top: 33%;
      right: 9%;
   }
   }

   @media (max-width:780px) {
      .content {
         padding-top: 20px;
         padding-bottom: 40px;
      }
      .title {
         max-width: 500px;
      }
      .networks img {
         width: 90px;
      }
      .second__title {
         font-size: 60px;
      }
      .second__title span {
         font-size: 60px;
      }
      .open-img {
         width: 150px;
      }
      .open {
         top: 30%;
      }
      .footer__title {
         font-size: 50px;
         text-align: center;
      }
      .title {
         padding-bottom: 590px;
      }
   }

.show-560 {
   display: none;
}

   @media (max-width:560px) {
      .hide-560 {
         display: none;
      }
      .show-560 {
         display: flex;
      }
      .btn {
         max-width: 220px;
      }
      .title {
         max-width: 300px;
      }
      .networks img {
         width: 60px;
      }
      .text {
         font-size: 15px;
         max-width: 205px;
      }
      .buy-img {
         max-width: 135px;
      }
      .ca {
         font-size: 15px;
         padding: 9.6px 35px;
      }
      .header {
         padding-bottom: 30px;
      }
      .second__title {
         font-size: 35px;
      }
      .second__title span {
         font-size: 35px;
         max-width: 283px;
      }
      .open-img {
         width: 70px;
      }
      .open {
         top: 35%;
      }
      .second {
         padding-bottom: 163px;
      }
      .footer__title {
         font-size: 40px;
      }
      .column_title {
         font-size: 28px;
      }
      .column_text {
         font-size: 14px;
      }
           .title {
         padding-bottom: 0;
      }
      .networks {
         padding-top: 0;
      }
   }

   @media (max-width:400px) {
      .networks a:not(:last-child) {
         margin-right: 12px;
       }
       .networks img {
         width: 50px;
       }
   }

   @media (max-width:360px) {
.open {
   top: 41%;
}
   }

















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
}

._scale_anim._animate {
  transform: scale(1);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}
