* {
   font-family: "Roboto Serif", serif !important;
   color: #272727;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  color: #000;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.first-image {
   width: 100%;
   object-fit: contain;
}

.first-section {
   position: relative;
}

.list-wrapper {
   position: absolute;
   top: 0;
   right: 0;
   width: 50vw;
}

.list-item {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: auto;
   object-fit: contain;
}

.list-item-content {
   position: relative;  
   z-index: 1000;
   transform: rotate(22.237deg);
   padding: 50px 10px 0 40%;
}

.list-item-title {
   font-size: 5vw;
font-weight: 500;
line-height: 110%;
text-transform: uppercase;
margin-bottom: 2.5vw;
}

.ca {
font-size: 1.5vw;
font-weight: 500;
line-height: 110%; 
text-transform: uppercase;
margin-top: 3vw;
}

.network-icon {
   transform: rotate(-22.237deg);
}

.second-section-wrapper {
   display: flex;
}

.right-image {
   display: block;
   margin-top: -64vw;
   width: 100%;
   object-fit: contain;
}

.left-image {
   object-fit: contain;
   max-width: 65vw;
   position: relative;
   z-index: -100;
}

.text {
   color: #FFF;
font-family: "Chau Philomene One" !important;
font-size: 2vw;
font-weight: 400;
line-height: 139%;
text-transform: uppercase;
max-width: 576px;
}

.second-section {
   position: relative;
}

.content-wrap {
   width: 30vw;
   position: absolute;
   top: 10vw;
   left: 3vw;
}

.buy {
   display: block;
   margin-left: auto;
   width: max-content;
   margin-top: 12vw;
}

.buy-image {
   width: 13vw;
}

.third-section {
   position: relative;
}

.third-image {
   position: relative;
   z-index: -100;
   margin-top: -36vw;
   width: 100%;
   object-fit: contain;
}

.third-section .list-wrapper {
   margin-top: -36vw;
}

.network-icon {
   width: 3.7vw;
}

.show-768 {
   display: none;
}

@media (max-width: 768px) {
   .show-768 {
      display: flex;
   } 
   .hide-768 {
      display: none;
   }    
   .mb-wrap {
      display: flex;
      flex-direction: column;
   }
   .list-item {
      width: 215%;
   }
   .third-section .list-item {
      width: 250%;
   }
   .list-item-title {
      font-size: 10vw;
   }
   .first-image {
      padding-top: 80vw;
  }
  .network-icon {
   width: 12vw;
  }
  .ca {
   font-size: 6vw;
  }
  .list-item-content {
   padding: 0;
   margin: 17vw 0 0 -25vw;
  }
  .left-image {
   max-width: none;
   width: 100%;
   position: relative;
   z-index: 100;
  }
  .second-section {
   margin-top: -15vw;
  }
  .right-image {
   margin-top: -1vw;
  }
  .third-section .list-wrapper {
   margin-top: 0vw;
}
.footer-content .ca {
   font-size: 7vw;
}
.footer-content .network-icon {
   font-size: 15vw;
}
.footer-content .list-item-title {
   font-size: 12vw;
}
.footer-content {
   margin: 20vw 0 0 -30vw;
}
.content-wrap {
   z-index: 10000;
   width: 90vw;
   top: 260vw;
   left: 3vw;
}
.text {
   font-size: 6vw;
}
.buy-image {
   width: 37vw;
}
}
























[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
}

._scale_anim._animate {
  transform: scale(1);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}