/* @font-face {
  font-family: "IBM Plex Mono";
  src: url(./fonts/SdglitchdemoRegular-YzROj.ttf);
} */

* {
  font-family: "IBM Plex Mono", monospace !important;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1) !important;
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 38px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

/* 
.first {
  min-height: 1080px;
} */

.first__head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first__head .networks {
  margin-top: 105px;
  position: relative;
  z-index: 10;
}

.first__title {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-65%);
}

.main__image {
  margin: -10% auto -30%;
  width: 100%;
  position: relative;
  z-index: -1;
}

.second__title {
  display: block;
  max-width: 810px;
  width: 100%;
  margin: 0 auto 12px;
}

.second__text {
  color: #FFF;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 25.312px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  max-width: 700px;
  margin: 0 auto 20px;
}

.second__number {
  border-radius: 9.248px;
  border: 2.387px solid #7AFF97;
  background: linear-gradient(79deg, #000 -3.2%, #002A09 7.75%, #00FF37 64.49%, #02FF39 65.48%, #42FF6B 80.41%, #6AFF8A 90.37%, #7AFF97 96.34%);
  background-blend-mode: screen;
  backdrop-filter: blur(5.968570232391357px);
  padding: 11px 32px;
  width: max-content;
  margin: 0 auto;
}

.second__number span {
  background: radial-gradient(145.08% 147.22% at -45.08% 25.02%, #8AF3A1 0%, #14013A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "IBM Plex Mono";
  font-size: 22.062px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buy-btn {
  margin: 38px auto;
  display: block;
  width: max-content;
}

@media (max-width: 1400px) {
  .first__title {
    width: 800px;
  }

  .networks img {
    height: 80px;
  }

  .networks a:not(:last-child) {
    margin-right: 24px;
  }

  .first__head .networks {
    margin-top: 79px;
  }
}

.show-1100 {
  display: none !important;
}

@media (max-width: 1100px) {
  .hide-1100 {
    display: none !important;
  }

  .show-1100 {
    display: flex !important;
  }

  .networks {
    justify-content: center;
  }

  .first__title {
    min-width: calc(100% + 40px);
    position: relative;
    top: 0%;
    left: 0%;
    transform: translateX(-0%);
    margin-left: -20px;
  }

  .networks {
    margin: 22px 0 5px;
  }

  .main__image {
    margin-left: -20px;
    margin-top: -40%;
    min-width: calc(100% + 40px);
  }
}

@media (max-width: 767px) {
  .second__text {
    font-size: 20px;
    max-width: 500px;
  }

  .second__number {
    padding: 8px 20px;
  }

  .second__number span {
    font-size: 20px;
  }

  .second__title {
    max-width: 600px;
  }
}

@media (max-width: 550px) {
  .networks img {
    height: 50px;
  }

  .second__text {
    font-size: 17px;
  }

  .second__number {
    padding: 7px 21px;
  }

  .second__number span {
    font-size: 14px;
  }

  .buy-btn {
    margin: 24px auto;
  }

  .buy-btn img {
    width: 220px;
    object-fit: contain;
  }
}

@media (max-width: 400px) {
  .networks a:not(:last-child) {
    margin-right: 10px;
  }

  .networks img {
    height: 46px;
  }

  .second__number span {
    font-size: 11px;
  }
}






















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
}

._scale_anim._animate {
  transform: scale(1);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}