._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: -24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.first {
  height: 100vh;
  min-height: 1080px;
  padding: 100px 0;
}

.first__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.first__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.first__title {
  color: #FFF;
  font-size: 381.118px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.first__number {
  position: relative;
  z-index: 100000000000000000000000;
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.first__text {
  color: #FFF;
  font-family: Malohallo;
  font-size: 67px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 700px;
  margin-top: 30px;
}

.first__right {
  display: flex;
  height: max-content;
  margin-top: auto;
  align-items: center;
}

.buy__btn {
  display: flex;
  margin-left: 20px;
}

@font-face {
  font-family: "Malohallo";
  src: url("./fonts/f24q3232-malohallo-malohallo-regular-400.otf") format("opentype"),
    url("./fonts/f24q3232-malohallo-malohallo-regular-400.ttf") format("truetype");
}

* {
  font-family: "Malohallo" !important;
}

.show-1230 {
  display: none !important;
}

.networks a {
  position: relative;
}

.tree__right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 40%;
  object-fit: contain;
}

.tree__left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 40%;
  object-fit: contain;
}

@media (max-width: 1230px) {
  .show-1230 {
    display: block !important;
  }

  .hide-1230 {
    display: none !important;
  }

  .first__title {
    font-size: 281.118px;
  }

  .first__number {
    justify-content: center;
    font-size: 32px;
    text-align: center;
  }

  .first__left,
  .first__content {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .first__text {
    font-size: 30px;
    text-align: center;
  }

  .first__title {
    font-size: 138px;
    text-align: center;
  }

  .buy__btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .first__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first__left {
    justify-content: start;
  }

  .tree__right,
  .tree__left {
    width: 60%;
  }
}

.show-768 {
  display: none !important;
}

@media (max-width: 768px) {

  .tree__right,
  .tree__left {
    width: 100%;
  }

  .show-768 {
    display: block !important;
  }

  .hide-768 {
    display: none !important;
  }

  .first__title {
    font-size: 88px;
  }

  .first {
    padding: 50px 0;
  }

  .networks img {
    width: 95px;
    object-fit: contain;
  }

  .buy__btn img {
    width: 186px;
    object-fit: contain;
  }

  .buy__btn {
    margin-top: 0;
  }
}






















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
}

._scale_anim._animate {
  transform: scale(1);
}

.tree__right {
  animation: tree 3s ease-in-out infinite;
}

@keyframes tree {

  0%,
  100% {
    transform: translateX(0%);
  }


  50% {
    transform: translateX(10%);
  }
}

.tree__left {
  animation: tree_left 3s ease-in-out infinite;
}

@keyframes tree_left {

  0%,
  100% {
    transform: translateX(0%);
  }


  50% {
    transform: translateX(-10%);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}