* {
   font-family: "Poppins", serif !important;
   color: #FFF;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 3758px;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  color: #000;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.header {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
}

.head {
   width: 700px;
}

.content {
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   margin-right: 84.5px;
}

.first {
   display: flex;
   padding-top: 100px;
}

.left {
   display: flex;
   flex-direction: column;
   align-items: end;
   flex: 0 1 50%;
}

.right {
   flex: 0 1 50%;
}

.second__left {
   flex: 0 1 50%;
}

.mission {
   max-width: 928px;
   border-radius: 40px;
background: #15191E;
padding: 32px 37px 42px 42px;
margin-top: 100px;
}

.profile {
   margin-top: 11px;
}

.profile, .tweet {
   border-radius: 44.029px;
border: 1.101px solid #15191E;
background: rgba(21, 25, 30, 0.60);
padding: 27px 16px;
margin-bottom: 11px;
max-width: 459px;
}

.tweet__input, .profile__input {
   border-radius: 59.989px;
border: 1.101px solid #15191E;
background: #15191E;
width: 100%;
color: #0094FF;
font-family: Poppins;
font-size: 15.41px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding: 9px 20px;

}

.tweet__input::placeholder, .profile__input::placeholder {
   color: #0094FF;
font-family: Poppins;
font-size: 15.41px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.profile__text, .tweet__text {
   color: #FFF;
-webkit-text-stroke-width: 1.1007194519042969;
-webkit-text-stroke-color: #15191E;
font-family: Poppins;
font-size: 22.014px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 11px;
}

.mission__title {
   color: #0094FF;
text-align: center;
font-family: "Red Hat Display", serif !important;
font-size: 66.087px;
font-style: normal;
font-weight: 600;
line-height: 115.414%; /* 76.274px */
text-transform: uppercase;
}

.mission__text {
   color: #FFF;
text-align: right;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 555px;
}

.ca {
   margin-top: 30px;
      color: #FFF;
   text-align: right;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding: 10px 20px;
   border: 1px solid #fff ;
   border-radius: 40px;
}

.mission-wrap {
   display: flex;
}

.icon {
   margin-top: -60px;
}
.icon-wrap {
   display: inline-block;
}

.scroll {
   display: inline-block;
   padding-bottom: 50px;
   display: flex;
   justify-content: center;
}

.blue-icon {
   display: inline-block;
}

.docs {
   display: inline-block;
   margin-right: 15px;
}

.docs__wrap {
margin-right: 100px;
}

.read {
   display: inline-block;
}

.second__right_title {
   color: #FFF;
text-align: right;
font-family: "Red Hat Display", serif !important;
font-size: 244.534px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.second__right_text {
   color: #FFF;
font-family: Poppins;
font-size: 23.674px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 520px;
margin-bottom: 25px;
}

.second__right_wrap {
   display: flex;
}

.second {
   display: flex;
   padding-bottom: 100px;
   gap: 30px;
}

.second__right {
   flex: 0 1 50%;
}

.footer__right a {
   display: inline-block;
}

.footer {
   border-radius: 40px;
background: #15191E;
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px;
margin-top: auto;
max-width: 1660px;
margin: 0 auto;
}

@media (max-width: 1700px) {
   .footer {max-width: 90vw   ;}
}

.footer__left {
   display: flex;
   align-items: center;
}

.upload-container {
   position: relative;
   max-width: 459px;

}

/*.preview {
   max-width: 459px;
   max-height: 459px;
   object-fit: contain;
}*/
.preview {
   width: 459px; /* Ширина контейнера */
   height: 459px; /* Высота контейнера */
   overflow: hidden; /* Обрезает изображение, если оно выходит за границы */
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .preview-image {
   max-width: 100%; /* Устанавливает максимальную ширину изображения */
   max-height: 100%; /* Устанавливает максимальную высоту изображения */
   object-fit: cover; /* Обрезает изображение, чтобы заполнить контейнер, сохраняя пропорции */
 }

.upload {
   position: absolute;
   bottom: 25px;
   left: 25px;
}

.cross {
   position: absolute;
   top: 5%;
   right: 5%;
}

.copiright {
   color: #FFF;
font-family: Poppins;
font-size: 21.844px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-left: 30px;
}

.footer__right a:not(:last-child) {
   margin-right: 34px;
}

.third {
   display: flex;
   gap: 30px;
}

.third__left, .third__left {
   flex: 0 1 50%;
}

.third__left_title {
   color: #FFF;
font-family: "Red Hat Display", serif !important;
font-size: 253.982px;
font-style: normal;
font-weight: 500;
}

.third__left_title span {
   display: block;
   color: #0094FF;
font-family: "Red Hat Display", serif !important;
font-size: 174.025px;
font-style: normal;
font-weight: 500;
margin-top: -20px;
}



/* WRAP SPOLLERS */
/* ONE SPOLLER */
/* TEXT STYLE FOR SPOLLER in default._texts.scss title-spoller - SPOLLER HEADER TITLE text-spoller - SPOLLER BODY */
.spoller {
   /* WRAP ONE SPOLLER */
 }

 .spoller__wrap_title {
   color: #FFF;
font-family: Poppins;
font-size: 26.359px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 15px;
 }

 .line  {
   margin: 35px 0;
 }

 .third__right {
   flex: 0 1 50%;
 }

 
 .spoller__wrap {
   padding: 25px;
   border-bottom: 1px solid #fff;
   border-radius: 45.187px;
border: 1.883px solid rgba(0, 148, 255, 0.20);
background: rgba(21, 25, 30, 0.60);
max-width: 867px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
   /* HEADER */
   /* HEADER TITLE */
   /*--------------------*/
   /* HEADER ICON */
   /* by default: plus with minus, but you can add class spoller__wrap_icon-cross to element with class spoller__wrap_icon you will get cross icon instead of minus */
   /*---------OR---------*/
   /* HEADER IMG */
   /*--------------------*/
   /* SPOLLER BODY */
 }

 /*.spoller__wrap:not(:last-child) {
   margin-bottom: 24px;
 }*/

 .spoller__wrap {
   margin-bottom: 24px;
 }
 
 .spoller__wrap_item {
   cursor: pointer;
   padding: 20px 0;
   display: flex;
   align-items: center;
 }

 .spoller__wrap._active {
   flex-direction: column;
 }

 .custome-li li {
   color: #FFF;
   font-family: Poppins;
   font-size: 22px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   max-width: 777px;
 }

 
 .spoller__wrap_icon {
   width: 50px;
   height: 50px;
   min-width: 50px;
   min-height: 50px;
   border-radius: 100%;
   position: relative;
   transform: rotate(0deg);
   transition: all 0.3s ease 0s;
   /*-----------------*/
   /* NOACTIVE PLUS */
   /*-----------------*/
   /* NOACTIVE ARROW */
   /* noactive - BOTTOM */
   /* noactive - RIGHT */
 }
 
 .spoller__wrap_icon-plus span {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   width: 30px;
   height: 4px;
   border-radius: 2px;
   background-color: #000;
   transition: all 0.3s ease 0s;
 }
 
 .spoller__wrap_icon-plus span::before {
   content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 30px;
   transform: translate(-50%, -50%) rotate(90deg);
   height: 4px;
   border-radius: 2px;
   background-color: #000;
   transition: all 0.3s ease 0s;
 }
 
 .spoller__wrap_icon-arrow-b-t {
   position: relative;
   cursor: pointer;
   height: 30px;
 }
 
 .spoller__wrap_icon-arrow-r-cross {
   position: relative;
   cursor: pointer;
   height: 30px;
   transform: rotate(270deg);
 }
 
 .spoller__wrap_icon-arrow-left {
   position: absolute;
   background-color: transparent;
   top: 50%;
   left: 0;
   width: 25px;
   height: 4px;
   display: block;
   border-radius: 2px;
   transform: translateY(-50%) rotate(45deg);
   transition: all 0.3s ease 0s;
 }
 
 .spoller__wrap_icon-arrow-left:before {
   content: "";
   background-color: #000;
   width: 25px;
   height: 4px;
   display: block;
   border-radius: 10px;
   transition: all 0.3s ease 0s;
 }
 
 .spoller__wrap_icon-arrow-right {
   position: absolute;
   background-color: transparent;
   top: 50%;
   left: 15px;
   width: 25px;
   height: 4px;
   display: block;
   border-radius: 2px;
   transform: translateY(-50%) rotate(-45deg);
   transition: all 0.3s ease 0s;
 }
 
 .spoller__wrap_icon-arrow-right:before {
   content: "";
   background-color: #000;
   width: 25px;
   height: 4px;
   display: block;
   border-radius: 10px;
   transition: all 0.3s ease 0s;
 }
 
 .spoller__wrap_img-active {
   display: none;
 }
 
 .spoller__wrap_img-active img {
   width: 21px;
   height: 21px;
   object-fit: contain;
 }
 
 .spoller__wrap_img-noactive {
   display: block;
 }
 
 .spoller__wrap_img-noactive img {
   width: 21px;
   height: 21px;
   object-fit: contain;
 }
 
 /*-----------------*/
 /* ACTIVE SPOLLER */
 .spoller__wrap_item._active .spoller__wrap_title {

   color: #0094FF;
 }

 .spoller__wrap_item._active {
   justify-content: space-between;
   width: 100%;
   padding-top: 0;
 }
 
 .spoller__wrap_item._active .spoller__wrap {
   flex-direction: column;
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-minus span::before {
   transform: translate(-50%, -50%) rotate(180deg);
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-cross span {
   transform: translate(-50%, -50%) rotate(135deg);
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-cross span::before {
   transform: translate(-50%, -50%) rotate(90deg);
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-b-t .spoller__wrap_icon-arrow-left:before {
   transform: rotate(-90deg);
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-b-t .spoller__wrap_icon-arrow-right:before {
   transform: rotate(90deg);
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-r-cross .spoller__wrap_icon-arrow-left,
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-b-cross .spoller__wrap_icon-arrow-left {
   width: 30px;
   transform: translate(-50%, -50%) rotate(45deg);
   left: 50%;
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-r-cross .spoller__wrap_icon-arrow-left:before,
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-b-cross .spoller__wrap_icon-arrow-left:before {
   width: 30px;
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-r-cross .spoller__wrap_icon-arrow-right,
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-b-cross .spoller__wrap_icon-arrow-right {
   width: 30px;
   transform: translate(-50%, -50%) rotate(-45deg);
   left: 50%;
 }
 
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-r-cross .spoller__wrap_icon-arrow-right:before,
 .spoller__wrap_item._active .spoller__wrap_icon-arrow-b-cross .spoller__wrap_icon-arrow-right:before {
   width: 30px;
 }
 
 .spoller__wrap_item._active .spoller__wrap_img-active {
   display: block;
 }
 
 .spoller__wrap_item._active .spoller__wrap_img-noactive {
   display: none;
 }
 
 /*-----------------*/

@media (max-width:1420px) {
   .ca {
      align-self: flex-start;
   }
   .third__left_title {
      font-size: 13vw;
   }
   .third__left_title span {
      font-size: 9vw;
   }
   .footer__right {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
   }
   .footer__right a:not(:last-child) {
      margin-right: 0;
   }
   .second__right_title {
      font-size: 11.7vw;
      text-align-last: left;
   }
   .blue-icon {
      width: 11.45vw;
   }
   .docs__wrap {
      margin-right: 0;   
   }
   .docs {
      margin-bottom: 10px;
   }
}

.show-1070 {
   display: none;
}

@media (max-width: 1070px) {
   .hide-1070 {
      display: none;
   }
   .show-1070 {
      display: flex;
   }
   .second {
      flex-direction: column-reverse;
      align-items: center;
   }
   .third {
         flex-direction: column;
         align-items: center;
   }
   .first {
      flex-direction: column;
   }
   .text {
      width: 90vw;
   }
   .title {
      width: 30vw;
      margin-right: 0;
      margin-bottom: 20px;
   }
   .content {
      min-height: 2%;
   }
   .left {
      align-items: center;
   }
   .mission {
      max-width: 90vw;
   }
   .mission-wrap {
      flex-direction: column;
   }
   .second__right_title {
      text-align: center;
      text-align-last: center;
   }
   .wrapp {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .icon-wrap img {
      width: 60px;
      height: 60px;
   }
   .icon {
      margin-top: 0;
      margin-left: 50px;
   }
}

.show-700 {
   display: none;
}


@media (max-width:700px) {
   .hide-700 {
      display: none;
   }
   .show-700 {
      display: flex;
   }
   .ca {
      text-align: center;
      align-self: center;
   }
   .second__right_title {
      font-size: 90px;
   }
   .networks {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;   
   }
   .networks a:not(:last-child) {
      margin-right: 0;
   }
   .second__right_text {
      font-size: 16px;
      max-width: 90vw;
      text-align: center;
   }
   .read img {
      width: 300px;
   }
   .docs img {
      width: 60px;
   }
   .docs__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .first {
      padding-top: 20px;
   }
   .third__left_title {
      font-size: 107px;
   }
   .third__left_title span {
      font-size: 74px;
      margin-top: -10px;
   }
   .footer {
      flex-direction: column;
   }
   .footer__right {
      margin-top: 20px;
   }
   .copiright {
      font-size: 14px;
   }
   .footer__title {
      width: 100px;
   }
}

.show-480 {
   display: none;
}


@media (max-width: 480px) {
   .hide-480 {
      display: none;
   }
   .show-480 {
      display: flex;
   }
   .ca {
      font-size: 16px;
   }
   .form {
      max-width: 95vw;
   }
   .preview {
      width: 95vw;
      height: auto;
   }
   .footer .small {
      width: 71px;
   }
   .spoller__wrap_title {
      font-size: 24px;
   }
   .footer .big {
      width: 125px;
   }
   .spoller__wrap {
      max-width: 95vw;
   }
   .custome-li li {
      font-size: 18px;
   }
   .big {
      width: 100px;
   }
   .submit {
      width: 95vw;
   }
   .small {
      width: 54px;
   }
   .networks {
      gap: 4px;
   }
   .text {
      width: 86vw;
   }
   .ai {
      width: 173px;
      align-self: self-start;
      margin-left: 25px;
      margin-bottom: 10px;
   }
   .mission__title {
      font-size: 48px;
   }
   .icon-wrap img {
      width: 50px;
      height: 50px;
      margin-left: 30px;
   }
   .mission__text {
      font-size: 16px;
   }
   .ca {
      margin-top: 350px;
   }
   .mission {
      margin-top: 10px;
   }
   .docs img {
      width: 46px;
   }
   .read img {
      width: 262px;
   }
   .content {
      padding-top: 23px;
   }
}





















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
}

._scale_anim._animate {
  transform: scale(1);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}
