* {
  font-family: "Pacifico", cursive !important;
  color: #FFF;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

[data-santa-image] {
  height: 100%;
  position: absolute;
}

#uploadedImage {
  z-index: 1;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  color: #000;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.header {
  display: flex;
  justify-content: center;
}

.content {
  padding-top: 60px;
}

.ca {
  color: #FFF;
  text-align: center;
  font-family: Pacifico;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 13.88px;
  border: 5px solid #1E1E1E;
  background: #EB3D3E;
  display: inline-block;
  max-height: 62px;
  padding: 0 32px;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy {
  margin-bottom: 20px;
}

.text {
  color: #1E1E1E;
  text-align: center;
  text-shadow: 0px 4px 0px #FFF;
  font-family: Pacifico;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 440px;
  margin-bottom: 50px;
}

.text span {
  color: #EB3D3E;
  font-family: Pacifico;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second {
  padding-top: 500px;
}




.generator__wrap {
  border-radius: 70px;
  border: 4px solid #000;
  background: #FFF;
  padding: 29px 78px 63px;
  max-width: 755px;
  margin: 0 auto 100px;
}

.upload__btn {

  border-radius: 51.414px;
  border: 5px solid #1E1E1E;
  background: #020202;
  display: flex;
  flex-direction: row-reverse;
  padding: 20.326px 23.713px;
  justify-content: center;
  align-items: center;
  gap: 18.043px;
  color: #FFF;
  text-align: center;
  font-family: Impact;
  font-size: 44.557px;
  font-style: bold;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto 24px;
}

.que__btn {
  border-radius: 51.414px;
  border: 5px solid #1E1E1E;
  background: #24A471;
  display: flex;
  flex-direction: row-reverse;
  padding: 27.036px 31.542px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #FFF;
  text-align: center;
  font-family: Impact;
  font-size: 44.557px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  z-index: 10;
  margin: -24px auto 0;
}


#uploadedImage {
  height: 100%;
  object-fit: contain;
}

#uploadedImage._active {
  height: 30%;
  position: absolute;
  top: 10%;
}

.data-image-wrap {
  width: 100%;
  /* width: max-content; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 27px;
  overflow: hidden;
}

#faceImage img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.blur {
  width: 100%;
  height: 100%;
  /* background: rgba(145, 140, 140, 0.4);
   box-shadow: 0 0 50px rgba(145, 140, 140, 0.8); */
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 80%); */
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}


@media (max-width:1600px) {
  .title {
    width: 600px;
  }
}

@media (max-width:1370px) {
  .title {
    width: 450px;
  }

  .networks img {
    width: 50px;
  }

  .ca {
    font-size: 24px;
  }
}

@media (max-width:1050px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
  }

  .ca {
    max-width: 300px;
    margin-bottom: 20px;
    order: 2;
  }

  .networks {
    margin-bottom: 20px;
    order: 3;
  }

  .title {

    order: 1;
  }
}



.show-767 {
  display: none !important;
}

@media (max-width: 767px) {
  .hide-767 {
    display: none !important;
  }

  .show-767 {
    display: flex !important;
  }

  .generator__wrap {
    border-radius: 27.536px;
    border: 1.574px solid #000;
    background: #FFF;
    max-width: 300px;
    padding: 11px 30px 25px;
  }

  .first__title {
    font-size: 58px;
    -webkit-text-stroke-width: 1.880794644355774px;
  }

  .first__number {
    justify-content: center;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    margin-bottom: 62px;
  }

  .upload__btn {
    padding: 8px 9.5px;
    font-size: 16px;
    -webkit-text-stroke-width: 0.8872135877609253px;
    border-radius: 5.915px;
    border: 1.183px solid #000;
    gap: 7.098px;
    padding: 7.996px 9.328px;
  }

  .que__btn {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.1801323890686035px;
    -webkit-text-stroke-color: #000;
    font-family: Impact;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 7.868px;
    border: 1.574px solid #000;
    padding: 10.636px 12.408px;
    gap: 9.441px;
  }

  .que__btn img {
    width: 20px;
  }


  .data-image-wrap {
    height: 236px;
    max-width: 236px;
    border-radius: 10px;
  }

  .upload__btn img {
    width: 16px;
  }

  .networks img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .first__number {
    margin-top: -100px;
  }
}






















[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
}

._scale_anim._animate {
  transform: scale(1);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}